[submodule "trik-testsys-protos"]
	path = trik-testsys-protos
	url = https://github.com/Pupsen-Vupsen/trik-testsys-protos.git
[submodule "trik-testsys-grading-scripts"]
	path = trik-testsys-grading-scripts
	url = https://github.com/Pupsen-Vupsen/trik-testsys-grading-scripts.git
