[submodule "protos"]
	path = libs/trik-testsys/protos
	url = https://github.com/trik-testsys/protos.git
[submodule "grading-scripts"]
	path = libs/trik-testsys/grading-scripts
	url = https://github.com/trik-testsys/grading-scripts.git
